.introduction-inside {
  margin-top: 20px;
  margin-bottom: 30px;
}

.profile {
  width: 100%;
}
.text {
  font-size: 13pt;
}

.title {
  font-family: "NanumSquare ExtraBold";
}

.title-2 {
  font-size: 15pt;
  font-family: "NanumSquare ExtraBold";
}

.title-3 {
  font-family: "NanumSquare Bold";
}
