.introduction-inside {
  margin-top: 20px;
  margin-bottom: 30px;
}

.profile {
  width: 100%;
}
.text {
  font-size: 13pt;
}

.title-1 {
  font-size: 20pt;
  color: #333;
  font-family: "NanumSquare ExtraBold";
}

.title-2 {
  font-size: 15pt;
  color: #333;
  font-family: "NanumSquare ExtraBold";
}

.title-3 {
  color: #000;
  font-family: "NanumSquare Bold";
}

.introduction-button {
  font-family: "NanumSquare ExtraBold";
}

.introduction-sub-button {
  padding-left: 40px;
}
