.modal-toggle {
  height: 80px;
  font-size: 18pt;
  font-family: "NanumSquare Bold";
  transition: 0.1s;
  color: #555;
  &:hover {
    cursor: pointer;
    color: #000;
  }
}

.divider {
  margin: 20px 0px;
  width: 100%;
  border-top: solid 1px #ddd;
}

.request-button {
  width: 70px;
}

.comment {
  color: #888;
  font-size: 10pt;
}

.payments-loading {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
}
