.introduction-content {
  margin-top: 20px;
  margin-bottom: 30px;
}

.introduction-header-title {
  font-size: 25pt;
  font-family: "NanumSquare ExtraBold";
  padding-bottom: 15px;
  margin-bottom: 15px !important;
  border-bottom: solid 1px #555;
}