.notice-detail-content {
  margin-bottom: 30px;
}

.notice {
  font-size: 12pt;
  font-family: "NanumSquare ExtraBold";
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: solid 1px #555;
}

.notice-title {
  font-family: "NanumSquare ExtraBold";
  font-size: 20pt;
  color: #444;
}

.details {
  font-size: 12px;
  color: #666;
}

.notice-content {
  padding-top: 15px;
  width: 70%;
}
