.post-view {
  margin-top: 20px;
  margin-bottom: 30px;
}

.bulletin-title {
  font-size: 12pt;
  font-family: "NanumSquare ExtraBold";
  padding-bottom: 15px;
  margin-bottom: 15px !important;
  border-bottom: solid 1px #555;
}

.post-title {
  font-family: "NanumSquare ExtraBold";
  font-size: 20pt;
  color: #444;
}

.details {
  font-size: 12px;
  color: #666;
}

.post-content {
  padding-top: 15px;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
