.post-view {
  margin-top: 20px;
  margin-bottom: 30px;
}

.board-header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  margin-bottom: 15px !important;
  border-bottom: solid 1px #555;
}

.board-title {
  font-size: 10pt;
  font-family: "NanumSquare ExtraBold";
  color: #888;
  transition: 0.2s;
  &:hover {
    cursor: pointer;
    color: #444;
  }
}

.post-title {
  font-family: "NanumSquare ExtraBold";
  font-size: 20pt;
  color: #444;
}

.details {
  font-size: 12px;
  color: #666;
}

.post-content {
  padding-top: 15px;
  padding-left: 0 !important;
  padding-right: 0 !important;
}
