.board-row {
  color: #555;

  &:hover {
    color: black;
    text-decoration: none;
  }
}

.row-author {
  font-weight: bold;
  margin-right: 5px;
  width: 90px;
}

.row-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.row-date {
  margin-left: 5px;
  width: 80px;
}
