$author-width: 90px;
$date-width: 80px;

.board-row {
  color: #555;
  font-size: 11pt;
  padding-bottom: 5px;
  padding-top: 5px;
  min-height: 32px;

  &:hover {
    color: black;
    text-decoration: none;
  }
}

.row-author {
  text-align: center;
  font-family: "NanumSquare ExtraBold";
  width: $author-width;
}

.row-title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.row-date {
  text-align: right;
  width: $date-width;
  color: #888;
}

@media (min-width: 768px) {
  .row-title {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

@media (max-width: 767px) {
  .row-author {
    height: 0px;
    visibility: hidden;
  }
  .row-date {
    height: 0px;
    visibility: hidden;
  }
}
